@import 'abstracts';

.main{
    width: 100%;

    &__wrapper{
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    .converter{
        display: block;
        margin-top: 15vh;
    }
}

@media screen and (max-width: 1240px){
  .main{
    max-width: calc(100% - 20px);
    margin: auto;
  }
}