@import "abstracts";

:host {
  display: block;
  height: 100%;
}
.currency {
  height: 100%;
  &__wrapper {
    @include display_flex(left, center);
    height: 100%;
  }
  &__img {
    height: 100%;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.397);
  }
  &__name {
    margin-left: 8px;
  }
}
